/* === COLORS === */

:root {
  --bg1: #2e3440;
  --bg2: #3b4252;
  --bg3: #434c5e;
  --bg4: #4c566a;
  --fg: #ffffff;
  --c1: #bf616a;
  --c2: #d08770;
  --c3: #ebcb8b;
  --c4: #a3be8c;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg1: #ffffff;
    --bg2: #eceff4;
    --bg3: #e5e9f0;
    --bg4: #d8dee9;
    --fg: #000000;
    --c1: #5e81ac;
    --c2: #81a1c1;
    --c3: #8fbcbb;
    --c4: #88c0d0;
  }
}

/* === MAIN STYLES === */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  background-color: var(--bg1);
  color: var(--fg);
  margin: 0;
}

.content > * {
  padding: 1em 2em;
}

#top {
  padding: 0;
}

section {
  text-align: center;
}

a {
  color: var(--fg);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.bg-color-2 {
  background-color: var(--bg2);
}

.bg-color-1 {
  background-color: var(--bg1);
}

/* === BTNS === */

.btn {
  padding: 0.5em 1em;
  margin: 0.1em;
  background-color: var(--bg4);
  border-radius: 0.5rem;
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  filter: brightness(80%);
}

.btn-primary   {background-color: var(--c4);}
.btn-secondary {background-color: var(--c5);}
.btn-primary, .btn-secondary {color: black;}

/* === TYPOGRAPHY === */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 2.5em;
}

p {
  line-height: 1.7;
}

/* === HERO === */

.hero {
  background-color: var(--bg2);
}

.hero > * {
  margin: 1em auto;
}

.hero > div {
  /* the text in hero */
  max-width: 30em;
}

.hero > div > a.btn {
  font-size: 1.2rem;
}

.hero-title {
  font-size: 3em;
  margin: 0px;
}

.hero-image {
  max-height: 50vh;
  border-radius: 0.5rem;
}

/* === HERO TEXT ANIMATION === */

.hero-title:nth-child(1) {
  animation: openClose var(--total-time) -10s infinite;
}
.hero-title:nth-child(2) {
  animation: openClose var(--total-time) -50s infinite;
}
.hero-title:nth-child(3) {
  animation: openClose var(--total-time) -40s infinite;
}
.hero-title:nth-child(4) {
  animation: openClose var(--total-time) -30s infinite;
}
.hero-title:nth-child(5) {
  animation: openClose var(--total-time) -20s infinite;
}

.hero-title {
  grid-row: 1/1;
  grid-column: 1/1;
}

.hero-title-container {
  display: grid;
  --total-time: 50s;
}

@keyframes openClose {
  0%,
  9% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  12%,
  28% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  31%,
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

/* === NAVBAR === */

.nav {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: var(--bg2);
  padding: 1em 2em;
}

.nav-text {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.nav-menu {
  cursor: pointer;
  overflow: visible;
}

.nav-items {
  flex-grow: 1;
  text-align: center;
}

.nav-items > * {
  margin: 0.4em;
}

/* === WAVE ANIMATION === */

.wave {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  padding: 0;
}

.wave-to-color-2 > #wave-path {
  fill: var(--bg2);
}

.wave-to-color-1 > #wave-path {
  fill: var(--bg1);
}

#wave-path {
  animation: move-forever 5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

@keyframes move-forever {
  0% {
    transform: translate(-30px, 0);
  }
  100% {
    transform: translate(145px, 0);
  }
}

/* === ABOUT SECTION ANIMATION === */

.about {
  animation: float-large 5s ease-in-out infinite;
}

@keyframes float-large {
  0%,
  100% {
    transform: translateY(-1em);
  }
  50% {
    transform: translateY(1em);
  }
}

/* === STICKY  SECTIONS === */

/* tablet displays and bigger */
@media (min-width: 35em) {
  .sticky-section {
    display: flex;
  }

  .sticky-section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .sticky-section > .sticky-end {
    position: sticky;
    top: 4rem;
    height: min-content;
    min-width: 30vw;
  }

  .sticky-section > .items-end {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  }
}

.sticky-section > .items-end > .item {
  background-color: var(--bg3);
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

/* === OTHER === */

.center {
  display: grid;
  justify-content: center;
  text-align: center;
}

#content {
  position: sticky;
  top: 0;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

/* === MENU ICON TRANSITION === */

@keyframes scale {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.3);
  }
}

#menuline2 {
  animation-delay: 0.1s;
}

#menuline3 {
  animation-delay: 0.2s;
}

.nav-menu > * {
	transform-origin: center;
}

.nav-menu:hover > * {
  animation: scale 0.3s;
}

/* === RESPONSIVE === */

/* super small displays */
@media (max-width: 13em) {
  .nav-text {
    display: none;
  }
}

/* mobile displays and smaller */
@media (max-width: 30em) {
  .nav-items {
    display: none;
  }

  .back-btn {
    /* back button for sidenav */
    font-size: 1.17em !important;
    padding: 1em 2em;
    display: block;
    background-color: var(--bg1);
    top: 0;
    position: sticky;
  }

  .container {
    /* the container to our content and sidebar colums */
    display: flex;
    height: 100vh; /* height must be set for scroll containers to work with position sticky */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .container > * {
    scroll-snap-align: start;
    scroll-snap-type: x;
    min-width: 100vw; /* force the content to be all the screen width */
    overflow-y: auto;
  }

  .sidenav {
    text-align: center;
    top: 0;
    margin: 0;
    max-height: 100vh;
  }

  .sidenav > a {
    display: block;
    font-size: 1.1em;
  }
}

/* mobile displays and bigger */
@media (min-width: 30em) {
  .nav-text {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .sidenav {
    display: none;
  }
}

/* desktop displays and bigger */
@media (min-width: 67em) {
  .nav-text {
    display: block;
    flex-grow: 0;
  }
}
