/* === COLORS === */

:root {
  --bg1: #2e3440;
  --bg2: #3b4252;
  --bg3: #434c5e;
  --fg: #ffffff;
  --accent: #a3be8c;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg1: #ffffff;
    --bg2: #eceff4;
    --bg3: #e5e9f0;
    --fg: #000000;
    --accent: #88c0d0;
  }
}

/* === MAIN STYLES === */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  background-color: var(--bg1);
  color: var(--fg);
  margin: 0;
}

section {
  text-align: center;
  padding: 1rem;
}

a {
  color: var(--fg);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.bg-color-1 {
  background-color: var(--bg1);
}

.bg-color-2 {
  background-color: var(--bg2);
}

/* === TYPOGRAPHY === */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

p {
  line-height: 1.7;
}

/* === HERO === */

.hero {
  background-color: var(--bg2);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.hero-image {
  max-height: 50vh;
  border-radius: 0.5rem;
}

.hero-title {
  font-size: 3rem;
  margin: 0px;
}

.hero-btn {
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  border-radius: 0.5rem;
  transition: 0.3s;
  color: black;
  font-size: 1.2rem;
}

.hero-btn:hover {
  filter: brightness(80%);
}

/* === HERO TEXT ANIMATION === */

.hero-title:nth-child(1) {animation-delay: -40s;}
.hero-title:nth-child(2) {animation-delay: -30s;}
.hero-title:nth-child(3) {animation-delay: -20s;}
.hero-title:nth-child(4) {animation-delay: -10s;}

.hero-title {
  grid-row: 1/1;
  grid-column: 1/1;
  animation: openClose 40s infinite;
}

.hero-title-container {
  display: grid;
  align-items: center;
}

@keyframes openClose {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  5%, 20% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  25%, 100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

/* === NAVBAR === */

.nav {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: var(--bg2);
  padding: 1rem;
}

.nav-text {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.nav-menu {
  cursor: pointer;
  overflow: visible;
}

.nav-items {
  flex-grow: 1;
  text-align: center;
}

.nav-items > * {
  margin: 0.4em;
}

/* === WAVE ANIMATION === */

.wave {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  padding: 0;
}

.wave-to-color-2 > #wave-path {
  fill: var(--bg2);
}

.wave-to-color-1 > #wave-path {
  fill: var(--bg1);
}

#wave-path {
  animation: move-forever 5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

@keyframes move-forever {
  0% {
    transform: translate(-30px, 0);
  }
  100% {
    transform: translate(145px, 0);
  }
}

/* === STICKY  SECTIONS === */

/* tablet displays and bigger */
@media (min-width: 35em) {
  .sticky-section {
    display: flex;
  }

  .sticky-section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .sticky-section > .sticky-end {
    position: sticky;
    top: 4rem;
    height: min-content;
    min-width: 30vw;
  }
}

.sticky-section > .items-end {
  flex: 1;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.sticky-section > .items-end > .item {
  background-color: var(--bg3);
  border-radius: 0.5rem;
  padding: 1rem;
}

/* === OTHER === */

#content {
  position: sticky;
  top: 0;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

/* === MENU ICON TRANSITION === */

@keyframes scale {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.3);
  }
}

#menuline2 {animation-delay: 0.1s;}
#menuline3 {animation-delay: 0.2s;}

.nav-menu > * {
	transform-origin: center;
}

.nav-menu:hover > * {
  animation: scale 0.3s;
}

/* === RESPONSIVE === */

/* super small displays */
@media (max-width: 13em) {
  .nav-text {
    display: none;
  }
}

/* mobile displays and smaller */
@media (max-width: 30em) {
  .nav-items {
    display: none;
  }

  .back-btn {
    /* back button for sidenav */
    font-size: 1.17em !important;
    padding: 1em 2em;
    display: block;
    background-color: var(--bg1);
    top: 0;
    position: sticky;
  }

  .container {
    /* the container to our content and sidebar colums */
    display: flex;
    height: 100vh; /* height must be set for scroll containers to work with position sticky */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .container > * {
    scroll-snap-align: start;
    scroll-snap-type: x;
    min-width: 100vw; /* force the content to be all the screen width */
    overflow-y: auto;
  }

  .sidenav {
    text-align: center;
    top: 0;
    margin: 0;
    max-height: 100vh;
  }

  .sidenav > a {
    display: block;
    font-size: 1.1em;
  }
}

/* mobile displays and bigger */
@media (min-width: 30em) {
  .nav-text {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .sidenav {
    display: none;
  }
}